{{!-- this is the html body --}}
<div class="container">
	<div class="row">
		<div class="col-md-12 text-center" id="top-bar">
			<img src="/images/burger.png" alt="burger" style="width:100px" />
			<h2>
				Eata-Burger! </br>
				<small class="text-muted"><em>A MySQL and Express Handlebars web app.</em></small>
			</h2>
		</div>
		{{!-- This is where the burgers from the MySQL will go. --}}
		<div class="col-md-6 text-center" class="task">
			<div class="row">
				{{#each sandwhich_data}} {{!--BurgerName from sQL --}}
					{{#unless this.devoured}} {{!-- devour button --}}
					<div class="col-md-6 text-center div2">
						<pre>{{this.id}} {{!--this is where the names under BurgerName in SQL table appear--}} {{this.BurgerName}}</pre>
						{{this.Date}}
					</div>
					{{!--devour button--}}
					<div class="col-md-3 text-center">
						<form class="devoured-class button-size">
							{{!-- class BurgersID is used in assetsScripts.js --}}
							<input  type="hidden" class="BurgersID" value={{this.id}}>
							<button type="submit" class="btn btn-warning">Devour it!</button>
						</form>
					</div>
					{{/unless}}
				{{/each}}
			</div>
		</div>
		<div class="col-md-6 text-center" class="task">
			{{#each sandwhich_data}}
				{{#if this.devoured}}
					<input class="form-control" type="text" placeholder="{{this.id}}.{{this.BurgerName}}" readonly>
				{{/if}}
			{{/each}}
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12 text-center enter_section">
			<form action="/burgers/create" method="POST">
				<input type="text" class="form-control" name="BurgerName" value="" id="enter_text">
				{{!-- Submit button --}}
				<button type="submit" class="btn btn-outline-warning" id="text-enter-button" style="margin-top: 4px;">Submit</button>
			</form>
			<p>Enter a burger you want to eat by clicking "Submit".</p>
		</div>
	</div>
</div>